{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hourly Weather</title>
  <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>

<body>
  <div class="hourly-weather-container">
      <div class="hourly-header">
        
        <a href="{% url 'home' %}"><button class="back-btn">← Back</button></a>
        <h1>{{city_name}}'s Weather for <span id="selected-day">{{ day_of_week }}, {{ date_obj|date:"b d"|capfirst }}</span></h1>

        <div class="week-data">
          {% for day_name, day_info in week_data.items %}
              {% if not day_info.is_current_day %}
                <a href="{{ day_info.url }}">
                    <div class="day">
                        <span><b>{{ day_name }}</b></span>
                    </div>
                </a>
              {% else %}
                <div class="day disabled">
                    <span><b>{{ day_name }}</b></span>
                </div>
              {% endif %}
          {% endfor %}
      </div>
      
      </div>

    <section class="hourly-weather-list">
    </section>

    <div id="weather-modal" class="weather-modal">
      <div class="modal-content">
        <span class="close-btn" onclick="closeModal()">&times;</span>
        <div id="modal-details"></div>
      </div>
    </div>

  </div>

  <script>
    const hourlyWeatherData = {{ hourly_data|safe }}
    var cityName = "{{ city_name|escapejs }}"
  </script>
  <script src="{%  static 'js/details.js' %}"></script>
</body>

</html>